<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>KEAL_登录</title>
    <link rel="shortcut icon" href="http://rescdn.lecake.com/shop/lecake/theme/xth2/images/headfooter/favicon.ico">
    <link rel="stylesheet" href="/css/Login.css" />
</head>
<body>
<header>
    <h1>KEAL</h1>
</header>
<div id="background"><img  src="/img/backgorund.jpg" /></div>
<article class="login">
    <form action="/user/login" method="post" class="login_form">
        <table>
            <tr>
                <td class="td_id">
                    <label class="lable_id">帐号</label>
                    <input type="text" name="username" class="input"  />
                </td>
            </tr>

            <tr>
                <td class="td_name">
                    <label class="lable_password">密码</label>
                    <input type="password" name="password" class="input"/>
                </td>
            </tr>

            <tr>
                <td>
                    <input type="submit" value="登录" class="button" id="btn"  />
                </td>
            </tr>
        </table>
    </form>
</article>
</body>
</html>